
.nav1{
  width: 100vw;

  height:35%;
  color:rgb(48, 48, 222);


}

.nav2{
margin-left: 35rem;

}



.textform1{
height:50vh;
width: 56vw;
}
.textform{
margin-left: 16rem;
}

.button1{

margin-left: 17rem;
padding-top: 1rem;

}

.container{
  margin-left: 17rem;
  padding-top: 1rem;
}